.packages .form-control {
    font-size: 19px;
    border: 1px solid #F5EEE7;
    border-radius: 4px;
    box-shadow: none !important;
    padding-left: 22px;
}

.packages p {
    font-size: 12px;
    margin-bottom: 0px;
}

.packages ::placeholder {
    color: #000 !important;
}

.packages .flex-content {
    display: flex;
    align-items: center;
}

.packages .head-bar {
    padding: 0px 20px;
    padding-bottom: 0px;
}

.packages .packages {
    background-color: #FFF8F2;
    border-radius: 12px;
    height: 100vh;
    overflow: hidden;
}

.packages .form-group i {
    position: absolute;
    left: 6px;
    top: 10px;
    font-size: 18px;
    color: #252627;
    z-index: 5;
}

.packages .form-group {
    margin-bottom: 0px;
}

.packages .theme-button {
    background-color: #975E4A;
    color: #fff;
    font-size: 13px;
    padding: 7px 24px;
}

.packages label {
    font-size: 12px;
    color: #BABABA;
    margin-bottom: 5px;
}


.packages .card-style {
    background-color: #fff;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    height: auto;
}

.packages .row {
    margin: 0px;
}


.packages .flex-content-scroll {
    display: flex;
    overflow-x: scroll;
}

.packages .card-head h6 {
    font-weight: 600;
}

.packages .card-head {
    border-bottom: 1px solid #F5EEE7;
    padding: 15px;
}

.packages .card-border {
    border-right: 1px solid #F5EEE7;
}

.packages .card-color {
    background-color: #FFF8F2;
    border-radius: 12px;
    padding: 12px;
    overflow-y: scroll;
}

.packages .package-card h5 {
    font-weight: 600;
    font-size: 20px;
}

.packages .package-card h6 {
    font-size: 14px;
    font-weight: 600;
}

.packages .price-package {
    margin: 25px 0px;
}

.packages-section li {
    list-style: none;
    border-bottom: 1px solid #F5EEE7;
    padding: 10px 0px;
}

.packages-section ul {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.packages .unselected {
    color: #A7A4A0;
}

.packages .save-button .btn {
    width: 100% !important;
    margin-top: 10px;
}

.packages .cards-scroll {
    height: 85vh;
    overflow-y: scroll;
    margin-bottom: 20px;
}

/* new-addon-2feb */

/* toogle-button */
.packages .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}

.packages .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.packages .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.packages .switch input:checked+.slider {
    background-color: #975E4A;
}

.packages .switch input:focus+.slider {
    box-shadow: 0 0 1px #975E4A;
}

.packages .switch input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.packages .slider.round {
    border-radius: 34px;
}

.packages .slider.round:before {
    border-radius: 50%;
}

.packages .switch-btn p {
    width: 75%;
    color: #707070;
    font-size: 12px;
}

.packages .package-imgs img {
    border-radius: 8px;
    width: 130px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.packages .package-imgs {
    height: auto;
    overflow-y: hidden;
}