.appointments-listing .form-control {
    font-size: 13px;
    border-radius: 4px !important;
}
.appointments-listing p{
  font-size: 13px;
  margin-bottom:0px;
}
.appointments-listing ::placeholder{
  color:#000 !important;
}
.appointments-listing .flex-content{
  display: flex;
  align-items: center;
}

.appointments-listing .appointment-management{
  background-color:#FFF8F2;
  border-radius: 12px;
  height:95vh;
  overflow-x:hidden;
}
.appointments-listing .head-bar{
  background-color:#fff;
  padding:15px;
}
.appointments-listing .form-control{
  border:1px solid #F5EEE7;
  border-radius: 4px;
  box-shadow: none !important;
}
.appointments-listing select {
  appearance:none;
  padding-right: 25px !important;
  padding-left:10px !important
}
.appointments-listing .select i {
  position: absolute;
  right: 6px;
  top: 13px;
  font-size: 12px;
  color: #975E4A;
}
.appointments-listing .input-group i{
position: absolute;
  left: 6px;
  top: 13px;
  font-size: 12px;
  color: #975E4A;
  z-index: 5;
}
.appointments-listing .form-group{
margin-bottom:0px;
}
.appointments-listing .theme-button{
background-color:#975E4A;
color:#fff;
font-size: 13px;
padding:7px 24px;
}
.appointments-listing .filters {
background-color: #fff;
border-top:1px solid #F5EEE7;
padding:5px 0px;
}
.appointments-listing .filters .form-control {
height: 30px;
border:1px solid #F5EEE7;
}
.appointments-listing .filters .flex-content{
flex-wrap: wrap;
}
.appointments-listing .filters label{
font-size: 12px;
color:#BABABA;
margin-bottom:5px;
}
.appointments-listing .filters .form-group {
 width: 15%;
padding: 1px 15px;
}
.appointments-listing .icon-set-input i {
position: absolute;
top: 35px;
left: 21px;
color:#975E4A;
border-right:1px solid #F5EEE7;
padding-right:8px;
}
.appointments-listing .icon-set-input input{
padding-left:32px;
}
.appointments-listing .filters .select i{
right: 25px;
top: 37px;
}

.appointments-listing .filters select{
padding: 0px 5px !important;
}

.appointments-listing .data-table{
padding:20px 15px;
font-size: 12px;
}
.appointments-listing .data-table .table thead th , .data-table .table td {
border:0px;
font-weight: normal;
border-right: 1px solid #F5EEE7;
}
.appointments-listing .data-table .table thead th i{
font-size: 10px;
color: #975E4A;
}
.appointments-listing .table-striped tbody tr:nth-of-type(2n+1) {
background-color: #fff;
}
.appointments-listing .data-table .table td{
word-break: break-word !important;
vertical-align: middle !important;
padding:5px 10px;
}
.appointments-listing .span-text {
font-size: 9px;
}

.appointments-listing .dropdown:hover>.dropdown-menu {
display: block;
}
.appointments-listing .action .dropdown-menu{
top:20px;
border:none;
left:-84px;
border-radius: 8px;
box-shadow: 0 0 20px 0 rgba(0,0,0,.13);
font-size: 12px;
}

.appointments-listing .dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
pointer-events: none;
}
.appointments-listing .action .btn{
padding:3px;
background-color:transparent;
border:none;
}
.appointments-listing .action .dropdown .btn {
color:#975E4A;
margin-left: 8px;
}

.appointments-listing .action .dropdown-toggle::after {
display: none;
}

.appointments-listing .action .dropdown-menu i{
color:#d2d2d7;
margin-right:8px;
}
.appointments-listing .action .dropdown-item {
padding: 12px 8px;
}
.appointments-listing .pagination{
justify-content: center;
font-size: 13px;

}
.appointments-listing .pagination li{
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}
.appointments-listing .pagination a{
color:#000;
}
.appointments-listing .pagination .page-item.active .page-link {
z-index: 1;
color: #fff;
background-color: #975E4A;
border-color: #975E4A;
}
.appointments-listing #previous-page a, #next-page a{
color:#BABABA;
}

/* toogle-button */
.appointments-listing .switch {
position: relative;
display: inline-block;
width: 43px;
height: 26px;
}
.appointments-listing .slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.appointments-listing .slider::before {
position: absolute;
content: "";
height: 22px;
width: 22px;
left: 0px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

.appointments-listing .switch input:checked + .slider {
background-color: #34C759;
}

.appointments-listing .switch input:focus + .slider {
box-shadow: 0 0 1px #34C759;
}

.appointments-listing .switch input:checked + .slider:before {
-webkit-transform: translateX(19px);
-ms-transform: translateX(19px);
transform: translateX(19px);
}
/* Rounded sliders */
.appointments-listing .slider.round {
border-radius: 34px;
}

.appointments-listing .slider.round:before {
border-radius: 50%;
}
.appointments-listing .switch input[type="checkbox"], .switch input[type="radio"] {
opacity: 0;
}

.appointments-listing .canceled {
border-radius: 32px;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25);
background-color: #de394b;
color: #fff;
font-size: 10px;
padding: 5px 8px;
}
.appointments-listing .modal-header h4 {
font-size: 21px;
}
.appointments-listing .modal-header .close {
color: #000;
opacity: 100%;
font-size: 30px;
}


.appointments-listing .modal-content {
border-radius: 12px;
border: none;
}
.appointments-listing .modal-content  textarea {
height: 200px !important;
}
.appointments-listing .time{
width: 20%;
}
.appointments-listing .selector-image img{
width: 150px;
height:150px;
object-fit: cover;
}
.appointments-listing .camera {
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #000;
color: #fff;
font-size: 17px;
padding: 0px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
margin-top: -16px;
}

.appointments-listing #ViewUser .flex-content .select{
width: 50%;
}
.appointments-listing #ViewUser .select i {
top: 42px;
font-size: 13px;
}
.appointments-listing .border-right{
border-right:1px solid #F5EEE7;
}
.appointments-listing .d-flex {
display: -ms-flexbox !important;
display: flex !important;
}
.appointments-listing .packages li {
list-style: none;
border-bottom: 1px solid #F5EEE7;
padding: 10px 0px;
}

.appointments-listing .booking-id span{
color:#1461ff;
text-decoration: none;
}
.appointments-listing .bold-names span{
font-weight: bold;
color:#1A2138;
text-decoration:none;
}
.appointments-listing .span-text {
font-size: 9px;
}

.appointments-listing a{
  text-decoration: none;
}

.error-msg{
  color : red;
  font-size: 10px;
}

.type-reason-style{
  color : #b1b1b1
}